body{
  margin: 0px;
}
h1 {
  text-align: center;
}
h2{
  text-align: center;
}
ul {
  list-style-type: none;
  margin: auto;
  border: 16px;
  padding: 0px;
  width: 200px;
  height: 100px;
  background-color: #333;
}


li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  padding: 8px;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #40B512;
}


.Data {

  color: #4CAF50;
}
.Tech{
  color:#1492e0;
}

.button > a{
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #333;
    margin: 0px;
    padding: 8px;
    padding-right: 15px;
    width: 25px;
}
.button>a:hover{
  background-color: #40B512;
}

.footer{
  position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
